// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#alert {  
  color: red;
  width: 280px;
  height: 25px;
  margin: 0px auto;
  line-height: 25px;
}

form .login {
  border: 5px solid grey;
  width: 280px;
  margin: 10px auto;
  text-align: left;
  padding: 25px;
}

form .login .field label {
  width: 80px;
  float: left;
}

form .login .actions {
  text-align: right;
}
