// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.users {
  width: 350px;
  margin: 10px auto;

}

.users label {
  width: 80px;
  float: left;
  text-align: left;
  line-height: 25px;
}

.users ul{
  text-align: left;
}

.users .actions input{
  width: 80px;
}

.users_show {
  text-align: left;
  width: 300px;
  margin: 10px auto;
}

.users_show .u {
  width: 180px;
  border: 1px;
}
